In [7]:
import pandas as pd
import numpy as np

In [1]:
#can access a DF column by using bracket or dot notation
#dot notation only works for valid python variable names(no spaces, special characters, etc.)
#if the column name is not the same as an existing variable or method

In [6]:
#retail_df("family") retail_df.family
#even though you'll see many examples of dot notation in use, stick to bracket notation for single columns of data as it is less likely to cause issues
#use series operations on dataframe columns(each column is a series)
# can select multiple columns with a list of column names between brackets = retail_df[('family', 'store_nbr')].iloc{:5}
#use .loc() to access more than one column of data column bracket notation should primarly be used for creating new columns and quick exploration

In [9]:
oil = pd.read_csv("../retail/oil.csv")
oil.columns = ['date', 'oil price']
oil.head()

         date  oil price
0  2013-01-01        NaN
1  2013-01-02      93.14
2  2013-01-03      92.97
3  2013-01-04      93.12
4  2013-01-07      93.20

In [17]:
oil[["oil price", "date"]] # price olursa oil.price

      oil price        date
0           NaN  2013-01-01
1         93.14  2013-01-02
2         92.97  2013-01-03
3         93.12  2013-01-04
4         93.20  2013-01-07
...         ...         ...
1213      47.65  2017-08-25
1214      46.40  2017-08-28
1215      46.46  2017-08-29
1216      45.96  2017-08-30
1217      47.26  2017-08-31

[1218 rows x 2 columns]